/*browser-sync start --server --directory --files "*"
 */

/*


Centers Restaurant Name*/

/*<!-- Los Mochis Logo Colors: 
Green: #2D582B
Yellow: #B5B610
Red: #780C2C -->*/
/*Solid Red: #ff0000 */
/*Gets rid of default margin/padding in browser*/
* {
	margin: 0;
	padding: 0;
}


body {

	font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
	background: #780C2C;
	border: 5px;
	}

#containerwithlogo {
	background-color: #000000;
}
#toplogo {
	text-align: center;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}
/*Beginning of Navigation Bar*/

#nav {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	background-color: #B5B610;
	
}

#nav li {
	display: inline-block;
}

#nav li a {
	display: block;
	padding: 5px 5px;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
	/*border-right: 1px solid #ccc;*/
	text-transform: uppercase;
}

#nav li a:hover {
	color: #fff;
	background-color: #2D582B;
	border-radius: 3px;
}



/*h1 {
	margin-top: 0px;
	position: absolute;
	text-align: center;
	display: inline-block;
	margin-bottom : 50px;
}*/

/*End of Navigation Bar*/

/*Beginning of Sidebar*/


/*End of Sidebar*/

.container .jumbotron {
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.jumbotron {
	background-color: #780C2C;
}

#menu-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}



#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;

}
#menu-tile div, #specials-tile div, #map-tile div {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
	
	width: 100%;

	
}

.fa {
	font-size: 18px!important;
	margin-left: 25px;
}

.panel-footer {
	margin-top: 20px;
	background-color: #2D582B;
	border-top: none;
	/*color: #000000;*/
	color: #fff;


}

.img-responsive {
	width: 100%;
	margin-top: 20px;
}



panel-footer div.row {
	margin-bottom: 35px;
}

#hours, #address {
	line-height: 2;
}

#hours >span, #address > span {
	font-size: 1.3em;
}


#testimonials {
	font-style: italic;
}

#testimonials p:nth-child(2) {
	margin-top: 25px;
}

/*Beginning of Menu Stylings*/

h1 {
	color: #fff;
	text-align: center;
	display: block;
}

/*#menulogo {
	text-align: center;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}*//* Was for logo that was going to be on menu page*/

/*Styling for each section of the menu*/

/* headlines with lines */
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
    color: #fff;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid#B5B610;
    width: 591px; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}


/*Menu Items and Description*/
h3 {
	color: #fff;
}

p {
	color: #fff;
	font-style: italic;

}

#prices {
	float: right;
	margin-top: 12px;
	clear: right;
	font-size: 18px;
}

#menu-details {
	text-align: center;
}

#chile-relleno {
	margin-left: 50px;
	font-size: 1.1em;
	clear: left;
}

#prices2 {
	float: right;
	margin-top: 7px;
	clear: right;
	font-size: 18px;
}

/*End of Menu Page*/

/*Beginning of Specials*/

#specials {
	display: block;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#specialdescription{
	text-align: center;
}
/*#testimonials p:nth-child(1) {
	margin-top: 5px;
}*/

/*BEGINNING OF CONTACT FORM*/

form {
  margin-top: 50px;
  /*transition: all 4s ease-in-out;*/

}

.form-control {
  width: 350px;
  display: block;
  border: none;
  outline: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 16px;
}

textarea.form-control {
  max-height: 150px;
  min-height: 150px;
  max-width: 350px;
  min-width: 350px;
  padding: 6px 12px;
  margin-right: 8px;
  margin-left: auto;
  margin-right: auto;

}

input {
  height: 50px;
  display: inline-block;
  font-size: 18px;

}

form .submit {
  background: #B5B610;
  border-color: transparent;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

form .submit:hover {
  background-color: #2D582B;
}

#phone { /* Phone number */
	text-align: center;
	display: block;
	padding-bottom: 0;
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	color: #fff;

}

#fblink {
	text-decoration: none;
	color: #fff;
}

#fblink:hover {
	color: #2D582B;
}

/*END OF CONTACT FORM*/

/*Even smaller devices, such as iPhone 5/SE*/

@media (min-width: 100px) and (max-width: 410px)
{

/*Add styling for extra padding on right of jumbotron for iPHone 5/SE*/
 #prices {
 	font-size: 15px;
 	margin-top: 14px;
 }

 h3 {
 	font-size: 20px;
 }

 h2 {
 	font-size: 24px;
 }

 p {
 	font-size: 12px;
 }

 #chile-relleno {
	margin-left: 50px;
	font-size: 1.0em;
	clear: left;
}
}
/*Extra extra small devices 


*/

@media (min-width: 411px) and (max-width: 574px){

#prices {
 	font-size: 15px;
 }


}
/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

@media (min-width: 540px) and (max-width: 575px)
{

}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 


}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 


}


/*// Large devices (desktops, 992px and up*/
@media (min-width: 992px) { 



}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}



















